/* Colors */
$c-purpleDark: #240D57;
$c-purple: #501FC1;
$c-purpleLight: #8456EC;
$c-pink: #E87BF8;
$c-greyDark: #4F4F4F;
$c-grey: #828282;
$c-greyLight: #BDBDBD;
$c-white: #F6F2FF;

/* Layout */
$padding-mobile: 27px;
$padding-tablet: 40px;
$padding-desktop: 160px;

$maxContentWidth: 1192px;
